<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Редактирование <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label "Имя" %><br />
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label "Email" %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label "Новый пароль" %> <i>(Оставьте пустым, если не хотите менять пароль)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label "Подтверждение пароля" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label "Текущий пароль" %> <i>(необходимо ввести текущий пароль, чтобы принять изменения)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions text-center reg-btn">
      <%= f.submit "Сохранить", class: 'btn btn-info my-btn' %>
    </div>
    <% end %>

    <%= link_to "Назад", :back %>
  </div>
</div>