<table style="width:100%;">
	<tr>
		<td class="profile-info text-center" valign="top" width="200px;">
			<%=render 'user_info' %>
		</td>
		<td class="profile-posts">
			<% if  current_user.id == @user.id %>
			<div>
				<h2 class="text-center">Добавление статьи</h2>
				<%= render 'posts/formInfo' %>
			</div>
			<% end %>
			<% if @user.posts.any? %>
			<h2>Статьи (<%= @user.posts.count %>)</h2>
			<ol class="posts">
				<%= render @posts %>
			</ol>
			<%= will_paginate @posts %>
			<%else%>
			<h3>Нет ни одной статьи</h3>
			<% end %>
			

		</td>
	</tr>
</table>


<div class="span8">

</div>
